.navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 0px 10px;
    background-color: white;
    color: black;
}
  
.logo a
{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
  
.menu-toggle 
{
    display: none; 
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
}
  
.menu-toggle.is-active .bar:nth-child(1) 
{
    transform: rotate(45deg) translate(5px, 5px);
}
  
.menu-toggle.is-active .bar:nth-child(2) 
{
    opacity: 0;
}
  
.menu-toggle.is-active .bar:nth-child(3) 
{
    transform: rotate(-45deg) translate(11px, -11px);
}
  
.bar 
{
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 4px 0;
    transition: all 0.3s ease;
}
  
.nav-links 
{
    display: flex; 
    list-style: none;
    transition: all 0.3s ease;
}

.nav-links li a 
{
    text-decoration: none;
    margin: 10px;
    color: black;
}

.nav-links li a:hover
{
    color: rgb(147, 166, 218);
    transition: 0.2s all ease-in-out;
}

@media screen and (max-width: 768px) {
    .menu-toggle 
    {
        display: flex; 
    }

    .nav-links 
    {
        display: none; 
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Center the links horizontally */
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%; 
        right: 0;
        background-color: rgba(255, 255, 255, 0.95); /* Add a semi-transparent background */
        transition: left 0.3s ease;
        z-index: 1000; /* Ensure the nav-links are on top */
    }

    .nav-links.active 
    {
        left: 0; 
        display: flex;
    }

    .nav-links li 
    {
        margin: 15px 0;
        text-align: center;
    }
}
